.actionCont{
    text-align:center;
    justify-content:center;
    
    padding: 15vh;
}

.sponsor img{
    height:50px;
}
.sponsor{
    margin:200px 20px 20px 20px;
    padding:20px 100px;
    text-align:center;
    justify-content:center;
}
.imageWrapper{
    margin:0px 30px;
}
.contentWrapper{
    padding:30px 0px;
}
@media screen and (max-width:900px) {
    .actionCont{
        padding:13vh;
    }
}

@media screen and (max-width:800px) {
    .actionCont{
        padding:11vh;
    }
}

@media screen and (max-width:700px) {
    .actionCont{
        padding:9vh;
    }
}

@media screen and (max-width:600px) {
    .actionCont{
        padding:7vh;
    }
}

@media screen and (max-width:500px) {
    .actionCont{
        padding:5vh;
    }
}

