.CarbonEmission{
    display: flex;
    flex-direction: row;
    padding: 50px 20px;
}

.CarbonEmission>.leftSide{
    display: flex;
    flex:2;
    padding:30px 50px;
    justify-content: center;
}

.CarbonEmission>.rightSide{
    display: flex;
    flex-direction: column;
    flex:3;
    padding:30px 50px;
}
.CarbonEmission>.rightSide>button{
    width:150px;
    height:60px;
    background-color:#4CAF4F;
    color:#F9F9F9;
    border-color:unset;
    border-radius:10px;
}
