.carousel{
    width: 49.2vw;
    height: 60vh;
    margin: auto;
}

.carouselImg{
    width: 50vw;
    height: 60vh;
}

#use{
    width: auto;
    height: 60vh;
}

#track{
    width: 49.2vw;
    height: auto;
}