.Explanation{
    display: flex;
    flex-direction: row;
    padding: 50px 20px;
}

.Explanation>.leftSide{
    display: flex;
    flex:2;
    padding:30px 50px;
    justify-content: center;
}

.Explanation .leftSide img{
    width: 30vw;
}
.Explanation>.rightSide{
    display: flex;
    flex-direction: column;
    flex:3;
    padding:30px 50px;
}
.Explanation>.rightSide>button{
    width:150px;
    height:60px;
    background-color:#4CAF4F;
    color:#F9F9F9;
    border-color:unset;
    border-radius:10px;
}
@media screen and (max-width: 750px){
    .Explanation{
        display: flex;
        text-align: center;
        justify-content: center; /* Mengatur posisi secara horizontal */
        align-items: center;     /* Menyelaraskan konten secara vertikal */
        flex-direction: column;
        
    }
    .Explanation .leftSide img{
        width: 45vw;
    }
    .Explanation>.rightSide{
        display: flex;
        text-align: center;
        justify-content: center; /* Mengatur posisi secara horizontal */
        align-items: center;     /* Menyelaraskan konten secara vertikal */
        flex-direction: column;
        width: 80vw;
    }
}