.FAQPage{
    padding:40px 20px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.FAQPage p{
    color:#717171;
}
.FAQContent{
    padding:0px 12rem;
}

.cardContainer {
    width: 100vw; /* Batasi lebar maksimal */
    margin: 0 auto; /* Slider berada di tengah */
    overflow: hidden; /* Untuk menghindari konten meluap */
    padding: 5vw;
    display: flex;
    gap:3vw;
}
  .slick-slider {
    width: 100%; /* Pastikan slider mengikuti lebar kontainer */
  }
  .slick-slide > .div{
    margin: 0 10px;
  }
  .slick-slide {
    display: flex; 
    gap:3vw;
    justify-content: center; /* Agar item slider berada di tengah */
    width: 100vw; /* Sesuaikan lebar dengan slider */
  }
  .reviewCard {
    width:20rem;
    height: 15rem;
    display:flex;
    flex-direction:column;
    text-align:left;
    padding: 20px 30px;
    margin: 20px;
    border: 2px solid black;
}
  

.reviewCard h2{
    font-size:20px;
}

.reviewCard p{
    font-size:13px;
}

@media screen and (max-width: 380px){
    .reviewCard{
        height: 18rem;
    }
}