.Features{
    padding:5vw;
    display:flex;
    text-align:center;
    justify-content:center;
    flex-direction:column;
    width: 95vw;
}
.FeaturesTitle{
    padding:0px 10vw;
}
.FeaturesTitile p{
    color:#717171;
}
.Features  .cardContainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:10vw;
    padding:2vw 5vw;
}

.FeatureCard{
    width:25vw;
    padding:3vw 2vw;
    border:1px solid;
    border-radius:20px;
    box-shadow: 3px 5px #4D4D4D;
}

.FeatureCard>h2{
    font-size:1.5vw;
    font-weight:bold;
    color:#4D4D4D;
    margin:1vw 0px;
}

.FeatureCard>p{
    font-size:1.1vw;
}

@media screen and (max-width: 1066px){
    .Features  .cardContainer{
        gap:8vw
    }
}
@media screen and (max-width: 990px){
    .Features  .cardContainer{
        gap:7vw
    }
}
@media screen and (max-width: 850px){
    .Features  .cardContainer{
        gap:6vw
    }
}
@media screen and (max-width: 750px){
    .Features  .cardContainer{
        display: flex;
    text-align: center;
    justify-content: center; /* Mengatur posisi secara horizontal */
    align-items: center;     /* Menyelaraskan konten secara vertikal */
    flex-direction: column;
    }
    .FeatureCard{
        width: 40vw;
    }
    .FeatureCard>h2{
        font-size:4vw;
        font-weight:bold;
        color:#4D4D4D;
        margin:1vw 0px;
    }
    .FeatureCard>p{
        font-size:2vw;
    }
    .FeatureCard img{
        width: 10vw;
    }
}