@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.firstContainer, .secondContainer{
    height: 60vh;
}

.secondText,.firstText {
    padding-top:20vh;
    background: #6DCE8B;
    font-family: 'Poppins', 'sans-serif';
}

.firstText {
    padding-left:10vh;
}

.firstText  h1{
    margin-top: -12px;
    font-size: 32px;
    font-weight: 800;
}

.firstText  h2{
    font-size: 23px;
    font-weight: 800;
}

.firstText p{
    font-size: 16px;
}

.firstImage{
    background-size:cover;
}

.secondText{
    padding-right: 10vh;
    text-align: end;
}

.secondText  h1{
    font-size: 32px;
    font-weight: 800;
}

.secondText h2{
    font-size: 23px;
    font-weight: 800;
}


.secondText p{
    margin-right: 2px;
    font-size: 16px;
}

.secondImage{
    background: url('../assets/features (2).jpg');
    background-size: cover;
}
