.footerCont {
    background: #6DCE8B;
    padding-bottom:75px;
    padding-top:40px;
    width: auto;
    height:150%;
}
a{
    text-decoration:none;
    color:black;
}
.eco-image{
    width:70%;
}
.footerRow{
    margin: auto;
    width: 70vw;
    text-align: start;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: row;
    gap:250px;
}

.footerDivLeft {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.footerDivMid {

} 

.footerDivRight {

}
@media screen and (max-width: 1437px){
    .footerRow{
        gap:200px;
    }
}
@media screen and (max-width: 1290px){
    .footerRow{
        gap:150px;
    }
}
@media screen and (max-width:1140px){
    .footerCont{
        width:100%;
    }
    .footerRow{
        gap:125px;
    }

}
@media screen and (max-width: 1066px){
    .footerRow{
        gap:100px;
    }
}

@media screen and (max-width: 993px){
    .footerRow{
        flex-direction:column;
        gap:30px;
    }
}