.footerCont {
    background: #6DCE8B;
    padding-top: 5vh;
    height: 30vh;
    width: auto;
}

div.footerRow{
    margin: auto;
    width: 70vw;
    text-align: start;
    padding-left: 130px;
}

.footerDivLeft {
    
}

.footerDivMid {

} 

.footerDivRight {

}