.footerCont {
    background: #263238;
    padding-bottom:75px;
    padding-top:40px;
    width: auto;
    height:150%;
    color:#ffffff;
    width: 100vw;
}
.footerCont a{
    text-decoration:none;
    color:#ffffff;
}

.footerCont h1{
    font-size:25px;
}
.footerCont p{
    font-size:15px;
}

.eco-image{
    width:70%;
}
.footerRow{
    margin: auto;
    width: 70rem;
    text-align: start;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction: row;
    
}

.footerDivLeft {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.updateForm{
    display:flex;
    flex-direction:row;
    padding:5px;
    position:relative;
    width:230px;

}
.updateInput {
    flex-grow:2;
    background:#ffffff;
    width:100%;
    border-radius:50px;
    border: 2px solid #4D4D4D;
    padding:5px 10px;
}

.updateButton {
    background-color:#4D4D4D;
    position:absolute;
    border-radius:50%;
    aspect-ratio:1;
    padding:5px 10px;
    right:0;
    height:80%;
}

@media screen and (max-width: 1437px){
    .footerRow{
        gap:200px;
    }
}
@media screen and (max-width: 1290px){
    .footerRow{
        gap:150px;
    }
}
@media screen and (max-width:1140px){
    .footerCont{
        width:100vw;
    }
    .footerRow{
        gap:125px;
        width:100vw;
        margin:0;
        padding:2vw;
    }

}
@media screen and (max-width: 1066px){
    .footerRow{
        gap:100px;
    }
}

@media screen and (max-width: 993px){
    .footerRow{
        flex-direction:column;
        gap:30px;
    }
}