@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.headercont {
    padding-top: 3vw;
    height: 45vw;
    width: 100vw;
    background: #6DCE8B;
}

.title {
    padding-top: 7vw;
    margin-left: 10vw;
}

.title div{
    padding-right: 5vw;
}

.title h3 {
    margin-top: -5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}

.title h2 {
    font-size: 32px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.title h1 {
    margin-top: -20px;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.title-graphic {
    margin-left: -10vw;
}

.bike {
    max-height: 600px;
    min-height: 200px;
    height: 35vw;
    top: -25vw;
    left: -15vw;
    position: relative;
}

.bikebg {
    top: 5vw;
    height: 30vw;
    left: 8vw;
    position: relative;
}