@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.introCont {
    padding-top: 50px;
    font-family: 'Poppins', 'sans-serif';
    color: #212121;
    background-color: #EFEFEF;
    padding:3vw 0;
}

.introText {
    padding-top: 10vw;
}

.introText  h1{
    font-size: 32px;
    font-weight: 800;
}

.introText p{
    font-size: 16px;
}

.introText h1,p{
    margin-right: 5vw;
}

.carbonText {
    padding-top: 5vw;
}

.carbonText  h1{
    font-size: 32px;
    font-weight: 800;
    text-align: end;

}

.carbonText p{
    margin-left: 5vw;
    margin-right: -0.1vw;
    font-size: 16px;
    text-align: end;
}

.direction {
    float: right;
    width: 40vw;
    position: relative;
}

.forest {
    float: left;
    width: 40vw;
    position: relative;
}



@media screen and (max-width:900px) {
    .introduction1, .introduction2{
        display:flex;
        gap:2vw;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .introduction1{
        flex-direction:column;
        width:100%;
    }
    .introduction2{
        flex-direction:column-reverse;  
        
    }
    .carbonText p, .carbonText h1{
        text-align: center;
        margin:0;
        padding:0;
    }
    .introText h1, .introText p{
        margin-right: 0;
    }
    
}
