.Introduction{
    display:flex;
    padding:100px 20px 150px 20px;
    align-items:center;
    flex-direction:row;
    background-color:#F5F7FA;
}
.Introduction>.leftSide{
    flex:1;
    align-items:center;
    padding:0px 200px 0px 130px;
}

.Introduction>.firstTitle, .Introduction>.secondTitle{
    font-weight:semibold;
    text-transform: capitalize;
    font-size:64px;
}
.Introduction>.firstTitle{
    color:#4D4D4D;
}
.Introduction>.secondTitle{
    color:#4CAF4F;
}

.Introduction>.rightSide{
    flex:1;
    display:flex;
    align-items:center;
    justify-content: center;
    padding:0px 50px 0px 0px;
}


@media screen and (max-width: 1117px){
    .Introduction .leftSide{
        padding:0px 110px;
    }

}
@media screen and (max-width: 995px){
    .Introduction .leftSide{
        padding:0px 90px;
    }
    
    
}
@media screen and (max-width: 905px){
    .Introduction .leftSide{
        padding:0px 20vw;
    }
    .Introduction{
        flex-direction:column-reverse;
        gap:10vw;
        text-align:center;
    }
    .Introduction .leftSide h1{
        font-size:5vw;
    }
    .Introduction .leftSide p{
        font-size:2vw;
    }
    .Introduction .rightSide{
        padding:0px;
    }
}