html{
    font-family:'inter';
    overflow: auto;
}

.navbar {
    background-color: #F5F7FA;
    font-family: 'Poppins';
    font-size: 1rem;
    height: 80px;
    padding:0px 30px;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
}

.navlogo {
    margin-bottom: 9px;
    width: 90px;
    height: auto;
}

.FeaturesBox, .FAQBox, .ContactBox{
    padding: 5px 20px;
}
.FeaturesLink, .FAQLink, .ContactLink{
    text-decoration: none;
    color: black;
}

.FeaturesBox .active, .FAQBox .active, .ContactBox .active{
    padding: 5px 20px;
    border-radius: 25px;
    box-shadow: 5px 7px green;
    color: black;
}