
.sponsor img{
    height:50px;
}
.sponsor{
    margin:100px 20px 120px 20px;
    padding:20px 100px;
    text-align:center;
    justify-content:center;
    width:1500px;
}
.sponsor p{
    color:#717171;
}
.imageWrapper{
    margin:0px 30px;
}
.contentWrapper{
    padding:30px 150px;
}


@media screen and (max-width: 1117px){
    .contentWrapper{
        padding:30px 100px;
    }
    .sponsorContent{
        width:100vw;
        margin: 90px 20px;
    }

    .sponsor img{
        height:40px;
    }
}

@media screen and (max-width: 600px){
    .contentWrapper{
        padding:30px 50px;
    }
    .sponsorContent{
        width:100vw;
    }

    .sponsor img{
        height:30px;
    }
}