
.sponsor img{
    height:50px;
}
.sponsor{
    margin:200px 20px 20px 20px;
    padding:20px 100px;
    text-align:center;
    justify-content:center;
}
.imageWrapper{
    margin:0px 30px;
}
.contentWrapper{
    padding:30px 150px;
}