
body {
    overflow-x: hidden;
  }


.appAnimation, .appBackdrop {
	height: 1000px;
}

.appAnimation {
    display: block;
	position: relative;
	z-index: 10;
}

  
.appBackdrop {
    background-position: bottom center;
    background-size: auto 100%;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
}

.appBackdrop.parallax {
    position: fixed;
}

#background {
    background-image: url(./assets/Parallax/Background.png);
}
#skyline {
    background-image: url(./assets/Parallax/skyline.png);
}
#park {
    background-image: url(./assets/Parallax/park.png);
}