.Feature1, .Feature3, .Feature5{
    background-color:#white;
    padding-top:90pxx;
    display:flex;
    align-items:center;
    flex-direction:row;
    
}
.Feature2, .Feature4{
    background-color:black;
    padding-top:90pxx;
    display:flex;
    align-items:center;
    flex-direction:row;
    
}

.left-side-feature1{
    flex: 1;
    background-color:transparent !important;
    padding:200px 40px 10px 60px; 
    color: white;
    text-align:center;
    width:40%;
}

.right-side-feature1{
    padding:200px 60px 10px 60px;
    flex: 1;
    text-align:left;
    background-color:transparent;

}
.image{
    height:auto;
    width: 40%;
}

.left-side-even{
    padding:20px 60px 10px 60px;
    flex: 1;
    text-align:right;
    background-color:transparent;
    color: white;

}
.right-side-even{
    flex: 1;
    background-color:transparent !important;
    padding:20px 40px 10px 60px; 
    color: white;
    text-align:center;
    width:40%;
}

.left-side-even > p{
    margin:0;
    padding:0;
}

.right-side-odd{
    padding:20px 60px 10px 60px;
    flex: 1;
    text-align:left;
    background-color:transparent;
    color: black;

}
.left-side-odd{
    flex: 1;
    background-color:transparent !important;
    padding:20px 40px 10px 60px; 
    color: white;
    text-align:center;
    width:40%;
}

@media screen and (max-width: 1366px) {
    .right-side-even,.left-side-even,.right-side-odd, .left-side-odd{
        padding:10px 20px 0px 20px; 
    }
    
    
    .left-side-feature1, .right-side-feature1{
        padding:200px 20px 0px 20px; 
    }
  }
  @media screen and (max-width: 1060px) {

    .Feature1,  .Feature3,  .Feature5 {
        flex-direction:column;
    }
    .Feature2,.Feature4{
        flex-direction:column-reverse;
    }
    .right-side-feature1, .left-side-even, .right-side-odd{
        padding:0px 50px;
        text-align:center;
        word-wrap:break-word;
    }
    .image{
        width:50%;
    }

  }
  @media screen and (max-width: 800px) {
    .image{
        width:60%;
    }
    .left-side-feature1{
        padding:150px 20px 0px 20px;
    }
  }
  @media screen and (max-width: 375px) {
    
    .left-side-feature1{
        padding:100px 20px 0px 20px;
    }
  }